<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
    <title>Capital Cash</title>
</head>
<body>
    <main class="main-login">
        <section class="left-login">
            <div class="left-title">
                <h1>Faça o cadastro,</h1>
                <h2>e entre para o nosso time!</h2>
            </div>
            <img class="left-login-image" src="img/logowhite.svg" alt="Bíblia animação">
        </section>
        <form method="post" class="right-login">
            <div class="card-login">
                <h1>Cadastrar</h1>
                <div class="textfield">
                    <label for="nome">Nome</label>
                    <input required type="text" name="nome" placeholder="Nome...">
                </div>
                <div class="textfield">
                    <label for="telefone">CPF</label>
                    <input required type="text" name="cpf" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})|(\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2})" placeholder="CPF...">
                </div>
                <div class="textfield">
                    <label for="usuario">Email</label>
                    <input required type="email" name="email" placeholder="Email...">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input required type="password" name="senha" placeholder="Senha...">
                </div>
                <button action="/login" class="btn-login">
                    Cadastrar
                </button>
            </div>
        </form>
</body>
</html>