<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contato.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/projetos" class="cabecalho-a">Projetos</a>
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        <div class="cabecalho-div-login">
            <a href="/cadastrar" class="cabecalhoCadastro">Cadastrar</a>
            <a href="/login" class="cabecalhoLogin">Login</a>        
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
              <div class="left-side">
                <div class="details">
                  <img src="/img/adress.png" alt="">
                  <div class="topic">Endereço</div>
                  <div class="text-one">Avenida General Osório, Bagé</div>
                  <div class="text-two">Bairro: Centro</div>
                </div>
                <div class="details">
                  <img src="/img/contact.png" alt="">
                  <div class="topic">Telefone</div>
                  <div class="text-one">+53 999364479</div>
                </div>
                <div class="details">
                  <img src="/img/email.png" alt="">
                  <div class="topic">Email</div>
                  <div class="text-one">artursilva.bg213@academico.ifsul.edu.br</div>
                </div>
              </div>
              <div class="right-side">
                <div class="topic-text">Entre em contato conosco</div>
                <br/>
                <form method="post" action="/contato">
                  <div class="input-box">
                    <input required type="text" name="nome" placeholder="Digite seu nome" />
                  </div>
                  <div class="input-box">
                    <input required type="text" name="email" placeholder="Digite seu email" />
                  </div>
                  <div class="input-box message-box">
                    <textarea required name="mensagem" placeholder="Digite sua mensagem"></textarea>
                  </div>
                </br>
                  <button type="submit">
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                        </svg>
                      </div>
                    </div>
                    <span>Enviar</span>
                  </button>
                </form>
              </br>
                <h3><%=msg%></h3>
              </div>
            </div>
          </div>
          <br/>
    <br/>
    <br/>
    <br/>
    </main>
    
    <%-include('rodape.ejs')%>