<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <!--<a href="/home" class="cabecalho-a">Home</a> -->
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        <div class="cabecalho-div-login">
            <%=Usuario.nome%>
            <a href="/login/sair" class="cabecalhoCadastro">Deslogar</a>
            <!--<a href="/login" class="cabecalhoLogin">Login</a> -->       
        </div>
    </header>
    <main>
    <div class="row">
        <a href="/gastos" class="card green">
          <h2>Gastos</h2>
          <p>Organize seus gastos</p>
          <img class="image" src="/img/money.svg" alt="" />
        </a>
        <a href="/projetos" class="card red">
            <h2>Futuros Projetos</h2>
            <p>Crie projetos</p>
            <img class="image2" src="/img/future.svg" alt="" />
        </a>
        <a href="/perfil" class="card blue">
          <h2>Perfil</h2>
          <p>Visualize seu perfil</p>
          <img class="image" src="/img/avatar.svg" alt="" />
        </a>
    </div>
    </main>
    <br/>
    <br/>
    <br/>
    <br/>
    <%-include('rodape.ejs')%>
    