<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/novoprojeto.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/home" class="cabecalho-a">Home</a>
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        
    </header>
    <main>
        <div class="pagina">
            <h1>Crie um novo projeto</h1><br/>
            <p>Adicione um projeto e depois poderá incrementar os serviços</p>
            <form method="post" class="formulario">
                <label>Nome do projeto:</label> 
                <input type="text" name="nome" placeholder="Insira o nome" />
                <label>Orçamento do projeto: </label> 
                <input type="number" name="custo" placeholder="Insira o orçamento" />
                <label> Selecione a categoria: </label>
                <select name="categoria">
                    <option>Selecione uma opção</option>
                    <option value="Investimento">Investimento</option>
                    <option value="Planejamento">Planejamento</option>
                </select>
                <input type="submit" class="botaoProjeto" value="Criar Projeto">
            </form>
        </div>
       
    </main>
    <br/>
    <br/>
    <br/>
    <br/>
    <%-include('rodape.ejs')%>