<link rel="stylesheet" href="/css/rodape.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">

<footer>
    <!--Footer Content-->
    <div class="footer-content">
        
        <p>TCC para o IFSUL</p>
        <ul class="socials">
            <li><a href="#footer"><img src="/img/instagram.svg" class="fa fa-facebook"></img></a></li>
            <li><a href="#footer"><img src="/img/logoFace.svg" class="fa fa-twitter"></img></a></li>
        </ul>
    </div>
    <!--End of Footer Content-->
    <div class="footer-bottom">
        <p>Copyright &copy;2022 Capital Cash. Feito por <span>Artur Azambuja</span></p>
    </div>
    
</footer>
</body>
</html>
