<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        <div class="cabecalho-div-login">
            <a href="/cadastrar" class="cabecalhoCadastro">Cadastrar</a>
            <a href="/login" class="cabecalhoLogin">Login</a>        
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="left"> 
                <img class="img" src="/img/projetosSobre.png">
            </div>
            <div class="right">
                <h2>Gerencie projetos e organize seus gastos com o Capital Cash</h2>
        <br/>
        <br/>
        <p class="p">O site traz a possibilidade de uma melhor organização de seus objetivos pessoais ou empresariais,
            pois oferece uma página exclusiva onde os usuários poderam adicionar seus projetos, 
            acrescentar o valor necessário para concluir o mesmo e selecionar a sua categoria. Depois de criado, 
            pode adicionar fundos ao longo do tempo para conclusão do projeto. 
            Além disso, pode também organizar seus gastos diários, onde o usuário poderá adicionar no site tudo o que gasta 
            no mês, seja com contas, restaurantes, festas,etc. Desse modo, ele terá a oportunidade de visualizar todas as
            suas despesas e distribuir melhor seus fundos.
        </p> 
        <br/>
        <br/>
        <h2>Por que você precisa de um?</h2>
        <br/>
        <br/>
            <p class="p">Gerenciar projetos ou despesas não é uma tarefa fácil. Mas é ainda mais difícil se não contamos com a ajuda 
                de um software ou se os trabalhos estiverem espalhados por várias ferramentas ou em papéis, desse modo,
                é fácil perder o controle dos detalhes e difícil ficar por dentro do que realmente importa. 
                Com o Capital Cash, de modo prático e fácil, poderá organizar todos os 
                seus projetos, simplificando assim sua vida e organizando sua rotina.</p>
        <br/>
        <br/>
        <br/>
        <br/>
                </div>
        
    </main>
   
    <%-include('rodape.ejs')%>