*{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    
}

header,main{
  background-color: #FDFBF9;
}
a{
    text-decoration: none;
    color:#20332c;
    border: 5px;
    border-color: black;
    border-radius: 5px;
     padding: 5px;
}
a:hover{
    background-color: #98f576;
    transition: 0.4s;
}
body{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoImg{
    height: 105px;
    width: 105px;
    padding: 23px;
}
.cabecalho-div-login{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:35px;
    padding-right: 3em;
}
.cabecalho-div-a{
    display: flex;
    flex-direction: row;
    gap:35px;
}
.cabecalhoLogin{
    background-color: #20332c;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FDFBF9;
}
.cabecalhoLogin:hover{
    color:#20332c
}
.parteAlta{
    display: flex;
    padding: 3.3em;
}
.parteAlta1{
  display: flex;
  padding: 3.3em;
  padding-left: 3.3em;
}

.dropdown-btn{
  margin-left: 3em;
  margin-right: 3em;
   border-radius: 5px;
   color:#20332c;
   border: none;
   outline: none;
   cursor: pointer;
   overflow: hidden;
   transition: height 0.4s ease-in-out;
   background-color: #f8f8f8ef;
 }
 
 .bloc-top{
   padding: 15px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   font-size: 20px;
 }
 .bloc-top img{
   width: 50px;
 }
 .bloc-links{
   
   list-style-type: none;
 }
 .bloc-links li{
   padding: 5px 0;
   text-align: left;
 }
 .bloc-links a{
   font-size: 18px;
   color:#20332c;
   margin-left: 5px;
 }
 .bloc-links li:last-child{
   padding-bottom: 25px;
 }

.search-box{
  position: absolute;
  top: 33%;
  left: 23%;
  background: #353b48;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-btn{
  color: #00a8ff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #353b48;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width:0px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: white;
}
.novoprojeto{
    background-color: #20332c;
    color: #FDFBF9;
    position: absolute;
    right: 10%;
    padding: 0.8em;
}
.novoprojeto:hover{
    background-color:#98f576;
    color:#20332c;
}
.divBack{
  background-color:#20332c;
  color:#98f576;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px 0px 0px 6px;
}
.divBack1{
  background-color:#20332c;
  color:#98f576;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  display: flex;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}

.project_card {
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 20%;
    margin: 0.5%;
    word-break: break-word;
  }
  
  .project_card h5 {
    background-color: #001A23;
    color: #84D183;
    padding: 0.43em;
    margin-bottom: 1.3em;
    font-size: 1.2em;
    border-radius: 6px;
  }
  
  .project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
    display: flex;
    font-size:0.9em;
  }
  
  .project_card p span {
    font-weight: bold;
  }

  .category_text {
    display:flex;
    align-items: center;
  }
  
  .category_text span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:#98f576;
    margin-right: 5px;
  }

  .project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
  }
  
  .project_card_actions a,
  .project_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #E8F1F2;
    color: #222;
    font-size: 0.8em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project_card_actions svg {
    margin-right: 0.5em;
  }
  
  .project_card_actions a:hover,
  .project_card_actions button:hover {
    background-color: #B3EFB2;
    color: #001A23;
    opacity: 14;
  }
.informacoes p{
  padding-left: 3.3em;
  margin-bottom: 20px;
}

  img{
    width: 20px;
  }
  .divProjeto{
  background-color:#20332c;
  color:#ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 6px 6px 0px;
  }

