*{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}
a{
    text-decoration: none;
    color:#20332c;
    border: 5px;
    border-color: black;
    border-radius: 5px;
     padding: 5px;
}
a:hover{
    background-color: #98f576;
    transition: 0.4s;
}
header, main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   background-color: #FDFBF9;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoImg{
    height: 105px;
    width: 105px;
    padding: 23px;
}
.cabecalho-div-login{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:35px;
    padding-right: 3em;
}
.cabecalho-div-a{
    display: flex;
    flex-direction: row;
    gap:35px;
}
.cabecalhoLogin{
    background-color: #20332c;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FDFBF9;
}
.cabecalhoLogin:hover{
    color:#20332c
}
.dropdown-btn{
    margin-left: 3em;
    margin-right: 3em;
     border-radius: 5px;
     color:#20332c;
     border: none;
     outline: none;
     cursor: pointer;
     overflow: hidden;
     transition: height 0.4s ease-in-out;
     background-color: #f8f8f8ef;
   }
   
   .bloc-top{
     padding: 15px;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 5px;
     font-size: 20px;
   }
   .bloc-top img{
     width: 50px;
   }
   .bloc-links{
     
     list-style-type: none;
   }
   .bloc-links li{
     padding: 5px 0;
     text-align: left;
   }
   .bloc-links a{
     font-size: 18px;
     color:#20332c;
     margin-left: 5px;
   }
   .bloc-links li:last-child{
     padding-bottom: 25px;
   }
p{
    color: #7b7b7b;
}

input, select{
    border: 2px solid #d1fad3;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding-left: 2em;
    padding: 10px;
}

.botaoProjeto{
    background-color:#20332c;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.botaoProjeto:hover{
    background-color: #98f576;
    color:#20332c;
    transition: 0.4s;
}
.pagina{
    text-align: center;
    padding: 2em;
}
.formulario{
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 2em;
    line-height: 3.5;
}

