*{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}
header,main{
  background-color: #FDFBF9;
}
.cabecalho-a, .cabecalhoCadastro, .cabecalhoLogin{
    text-decoration: none;
    color:#20332c;
    border: 5px;
    border-color: black;
    border-radius: 5px;
     padding: 5px;
}
.cabecalhoLogin:hover{
    background-color: #98f576;
    transition: 0.4s;
}
.cabecalhoCadastro:hover{
  background-color: #98f576;
  transition: 0.4s;
}
.cabecalho-a:hover{
  background-color: #98f576;
  transition: 0.4s;
}
body{
   box-sizing: border-box;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoImg{
    height: 105px;
    width: 105px;
    padding: 23px;
}
.cabecalho-div-login{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:35px;
    padding-right: 3em;
}
.cabecalho-div-a{
    display: flex;
    flex-direction: row;
    gap:35px;
}
.cabecalhoLogin{
    background-color: #20332c;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FDFBF9;
}
.cabecalhoLogin:hover{
    color:#20332c
}
.dropdown-btn{
  margin-left: 3em;
  margin-right: 3em;
   border-radius: 5px;
   color:#20332c;
   border: none;
   outline: none;
   cursor: pointer;
   overflow: hidden;
   transition: height 0.4s ease-in-out;
   background-color: #f8f8f8ef;
 }
 
 .bloc-top{
   padding: 15px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   font-size: 20px;
 }
 .bloc-top img{
   width: 50px;
 }
 .bloc-links{
   
   list-style-type: none;
 }
 .bloc-links li{
   padding: 5px 0;
   text-align: left;
 }
 .bloc-links a{
   font-size: 18px;
   color:#20332c;
   margin-left: 5px;
 }
 .bloc-links li:last-child{
   padding-bottom: 25px;
 }

.wrapper{
   padding-top: 3em;
   display: flex;
   padding: 3em;
  }
 
  .wrapper .left{
    width: 25%;
    background: linear-gradient(to right,#0b5701,#98f576);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .wrapper .left img{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .wrapper .left h4{
    margin-bottom: 10px;
  }
  
  .wrapper .left p{
    font-size: 12px;
  }
  
  .wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .wrapper .right .info,
  .wrapper .right .projects{
    margin-bottom: 25px;
  }
  
  .wrapper .right .info h3,
  .wrapper .right .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .wrapper .right .info_data,
  .wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
    gap:40px
  }
  
  .wrapper .right .info_data .data,
  .wrapper .right .projects_data .data{
    width: 45%;
  }
  
  .wrapper .right .info_data .data h4,
  .wrapper .right .projects_data .data h4{
      color: #353c4e;
      margin-bottom: 5px;
  }
  
  .wrapper .right .info_data .data p,
  .wrapper .right .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
  }
  
  input{
    border: 2px solid #d1fad3;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding-left: 2em;
    padding: 10px;
}
.botaoSalvar {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .botaoSalvar:disabled {
  pointer-events: none;
 }
 .botaoSalvar:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 .botaoSalvar:active {
  box-shadow: none;
  transform: translateY(0);
 }
 .img{
   height: 200px;
 }

 .listProjeto {
   color: #7a7a7a;
 }
