footer{
    background-color:#20332c;
    height: auto;
    font-family:'Red Hat Display', sans-serif;;
    padding-top: 40px;
    color:#fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    display: flex;
    margin: 1rem 0 3rem 0;
    list-style: none;
    height: 20px;
}
.socials li{
    margin: 0 14px;
}
.socials li img{
    height: 30px;
    cursor: pointer;
}
.termos{
    display: flex;
    padding-bottom: 1em;
    gap:20px;
    cursor: pointer;
}

.footer-bottom{
    background:  #051f15;
    
    padding:20px 0;
    text-align: center;
    font-size: 14px;
}
.footer-bottom span{
    opacity:0.4;
    font-weight: 200;
}